*{
	padding: 0;
	margin: 0;
}

#main{
	-webkit-column-width: 202px;
	-moz-column-width: 202px;
	column-width: 202px;

}

#main .box{
	padding: 15px 0 0 15px;
	float: left;
}

#main .box .pic{
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	border-shadow: 0 0 2px gray;
	width: 165px;
}

#main .box .pic img {
	width: 165px;
}